@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=REM:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


html, body,
:root {
    height: fit-content;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
    /* hide scrollbar */
    scrollbar-width: none;
   
}

/* hide scrollbars  */
::-webkit-scrollbar {
    display: none;
}

@layer components {
    .input {
        @apply bg-red-100/80 p-3 rounded-md text-lg font-medium
    }
}