@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root {
    height:100%; 
    padding:0px;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}

.snap-container {
    scroll-snap-type: y mandatory;
  }
  .snap-section {
    scroll-snap-align: start;
  }